html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, 
small, strike, strong, sub, sup, tt, var, 
b, u, i, center, 
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, 
table, caption, tbody, tfoot, thead, tr, th, td, 
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary, 
time, mark, audio, video { 
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {
background-image: url('../img/black-Soccer-Ball-Timeless-Treasures-fabric-from-the-USA-169309-2.jpg');
    /* toute la fenetre */
    /* background: pink; */
    margin: 0 auto;
}

#container {
    border-radius: 30px 30px 0px 0px;
    background: #333;
    width: 1200px;
    height: 500px;
    text-align: center;
    margin: auto;
    
}

h3 {
    font-size: 4em;
}
header {
    background-image: url('../img/le-saint-louis.jpg');
    color: white;
    /* border-radius: 30px 30px 0px 0px; */
    height: 200px;
    /* background: yellow; */
    
}

aside {
    height: 500px;
    width: 200px;
    float: left;
    background: blue;
    
}

section {
    background: red;
    float: left;
    width: 800px;
    height: 500px;
    margin: 0;
    padding: 0;
}

.clear {
    clear: both;
}

footer {
    background: linear-gradient(blue, white, red);
    height: 200px;
    font-size: 5em;
    border-radius: 0px 0px 30px 30px;
}

footer p {
    padding-top: 33px;
}
                 /* Zoning02 */
/* ***************************************************** */